
.container
{
    line-height: 30px;
    padding: 0 100px;
    .img 
    {
        img 
        {
            width: 150px;
        }
    }
    .col-10 
    {
        margin: auto;
    }
    h1 
    {
        font-size: 92px;
    }
    hr 
    {
        height: 2px;
        color: black;
    }
    .table 
    {
        table 
        {
            tbody, td, tfoot, th, thead, tr
            {
                border-style: none;
            }
            width: 100%;
        }
        span 
        {
            padding-right: 50px;
        }
    }
    .contact 
    {
        p 
        {
            margin-bottom: 6px;
        }
    }
    .signature
    {
        h4 
        {
            padding: 10px 10px 50px 10px;
            display: inline-block;
            border-top: 1px solid black;
        }
    }
}

@media (max-width:1400px)
{
    .container 
    {
        padding: 0 20px;
        h1 
        {
            font-size: 80px;
        }
    }
    
}

@media (max-width:992px)
{
    .container 
    {
        h1 
        {
            font-size: 59px;
        }
        .img 
        {
            img 
            {
                width: 110px;
            }
        }
    }
}

@media (max-width:768px)
{
    .container 
    {
        h1 
        {
            font-size: 43px;
        }
        .img 
        {
            img 
            {
                width: 86px;
            }
        }
    }
}

@media (max-width:600px)
{
    .container 
    {
        h1 
        {
            font-size: 38px;
        }
        .img 
        {
            img 
            {
                width: 74px;
            }
        }
    }
}

@media (max-width:480px)
{
    .container 
    {
        h1 
        {
            font-size: 30px;
        }
        .img 
        {
            img 
            {
                width: 64px;
            }
        }
    }
}